[Desktop Entry]
Name=Embedded Terminal
Name[ast]=embeddedterminal
Name[bg]=embeddedterminal
Name[ca]=embeddedterminal
Name[ca@valencia]=embeddedterminal
Name[cs]=embeddedterminal
Name[da]=embeddedterminal
Name[de]=embeddedterminal
Name[el]=embeddedterminal
Name[en_GB]=embeddedterminal
Name[eo]=embeddedterminal
Name[es]=embeddedterminal
Name[et]=embeddedterminal
Name[fi]=embeddedterminal
Name[fr]=embeddedterminal
Name[ga]=embeddedterminal
Name[gl]=embeddedterminal
Name[hu]=embeddedterminal
Name[it]=embeddedterminal
Name[ja]=embeddedterminal
Name[kk]=embeddedterminal
Name[km]=embeddedterminal
Name[ko]=embeddedterminal
Name[lv]=embeddedterminal
Name[nb]=embeddedterminal
Name[nds]=embeddedterminal
Name[nl]=embeddedterminal
Name[nn]=embeddedterminal
Name[pa]=embeddedterminal
Name[pl]=embeddedterminal
Name[pt]=embeddedterminal
Name[pt_BR]=embeddedterminal
Name[ro]=embeddedterminal
Name[ru]=embeddedterminal
Name[sr]=embeddedterminal
Name[sr@ijekavian]=embeddedterminal
Name[sr@ijekavianlatin]=embeddedterminal
Name[sr@latin]=embeddedterminal
Name[sv]=embeddedterminal
Name[tr]=embeddedterminal
Name[uk]=embeddedterminal
Name[x-test]=xxembeddedterminalxx
Name[zh_CN]=embeddedterminal
Name[zh_TW]=embeddedterminal
Comment=Plasma embeddedterminal
Comment[ast]=Plasma embeddedterminal
Comment[ca]=Plasma embeddedterminal
Comment[ca@valencia]=Plasma embeddedterminal
Comment[cs]=Plasma embeddedterminal
Comment[da]=Plasma embeddedterminal
Comment[de]=Plasma embeddedterminal
Comment[el]=Plasma embeddedterminal
Comment[en_GB]=Plasma embeddedterminal
Comment[eo]=Plasma embeddedterminal
Comment[es]=Plasma embeddedterminal
Comment[et]=Plasma embeddedterminal
Comment[fi]=Plasma embeddedterminal
Comment[fr]=Plasma embeddedterminal
Comment[ga]=Plasma embeddedterminal
Comment[gl]=Plasma embeddedterminal
Comment[hu]=Plasma embeddedterminal
Comment[it]=Plasma embeddedterminal
Comment[ja]=Plasma embeddedterminal
Comment[kk]=Plasma embeddedterminal
Comment[km]=ប្លាស្មា embeddedterminal
Comment[ko]=Plasma embeddedterminal
Comment[lv]=Plasma embeddedterminal
Comment[nb]=Plasma embeddedterminal
Comment[nds]=Plasma embeddedterminal
Comment[nl]=Plasma embeddedterminal
Comment[nn]=Plasma embeddedterminal
Comment[pa]=ਪਲਾਜ਼ਮਾ embeddedterminal
Comment[pl]=Plazma embeddedterminal
Comment[pt]=Plasma embeddedterminal
Comment[pt_BR]=Plasma embeddedterminal
Comment[ro]=Plasma embeddedterminal
Comment[ru]=Plasma embeddedterminal
Comment[sr]=Плазмин embeddedterminal
Comment[sr@ijekavian]=Плазмин embeddedterminal
Comment[sr@ijekavianlatin]=Plasmin embeddedterminal
Comment[sr@latin]=Plasmin embeddedterminal
Comment[sv]=Plasma embeddedterminal
Comment[tr]=Plasma embeddedterminal
Comment[uk]=Плазма embeddedterminal
Comment[x-test]=xxPlasma embeddedterminalxx
Comment[zh_CN]=Plasma embeddedterminal
Comment[zh_TW]=Plasma embeddedterminal
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_embeddedterminal
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=embeddedterminal
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

